/* Responsive mobile */
@media only screen and (max-width: 768px) {
body {
    padding: 25px 15px 0px 15px;
}

header {
  height: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: white;
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 20px 0;
  height: calc(100% - 60px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
  color: var(--tipografia_negro);
}

.nav-item {
  font-size: 13px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 2rem;
  text-transform: uppercase;
  width: max-content;
  font-family: var(--titulo);
}

.nav-link {
  padding: 8px 12px;
  border-radius: 3px;
  color: var(--tipografia_negro);
  font-family: var(--titulo);
}

.logo {
  font-weight: bold;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  display: inline-block;
}

.cart {
  position: block;
  width: 100%;
  justify-content: end;
}

.cart img {
  width: 10%;
}
.menu {
  color: var(--tipografia_negro);
  background: none;
  border: 2px solid var(--tipografia_negro);
  border-radius: 4px;
  margin: 15px 10px 30px 10px;
  font-size: 20px;
  cursor: pointer;
  display: none;
  border: 2px solid #32323d;
}
.menu {
  display: block;
}


.home-img {
  height: 50vh;
}
.card-last-product,
.card-new-product {
  width: 100%;
}
.latest-products-cards,
.new-products-cards {
  padding: 2% 0;
}
.latest-products,
.new-products,
.latest-news {
  background: #f3f3f3;
  padding-left: 5%;
  padding-right: 5%;
}
.discount::before {
  width: 75px;
  height: 75px;
  line-height: 70px;
  font-size: 20px;
}
h5 {
  font-size: 30px;
}
.logos .hidden {
  display: none;
}
section .sheet {
  padding: 5%;
}
.latest-news span {
  margin-top: 0;
}
.email-suscribe {
  width: 90%;
}
.join input {
  width: 65%;
}
.join button {
  width: 35%;
}
.footer ul {
  width: 100%;
}
.last-footer .hidden{
  display: none;
}

/*Scrollbar*/
.go-up{
  display: block;
  position: fixed;
  background: #242424 none repeat scroll 0 0;
  bottom: 40px;
  cursor: pointer;
  right: 12px;
  z-index: 99999999;
  width: 35px;
  height: 35px;
}
.go-up:hover {
  background: #519f10 none repeat scroll 0 0;
}
.go-up img{
align-items: center;
margin-top: 7px;
margin-left: 7px;
width: 20px;
height: 20px;
}
}
