@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:100,200,300,300i,400,500,600,700,800,900|Playfair+Display:400,400i,700,700i,900,900i|Work+Sans:100,200,300,400,500,600,700,800,900');

/* General styles */
* {
    margin: 0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
  :root {
    --font-tittle-playfair: "Playfair Display", serif;
    --font-text-lora: "Lora", serif;
    --font-title-products-worksans: "Work Sans", sans-serif;
    --typography-color: #575757;
    --typography-color2: #333333;
    --labels-color: #529f0f;
  }
  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 90px 0px 90px;
  }

/* Header and nav */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1.5% 0;
}
.cssmenu {
  display: flex;
  flex-direction: row;
  width: 33.33%;
}
.menu {
  display: none;
}
.cssmenu ul,
.logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
  justify-content: space-evenly;
  font-family: var(--font-title-products-worksans);
  font-weight: bold;
  color: black;
  font-size: 0.75rem;
}
.cssmenu li {
  cursor: pointer;
}
.logo {
  display: flex;
  width: 33.33%;
  justify-content: center;
}
.logo img {
  cursor: pointer;
}
.cart {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 40%;
  align-items: center;
}
#select-coin {
  border: none;
  font-size: 14px;
  font-family: var(--font-text-lora);
  cursor: pointer;
}
.cart img {
  width: 9%;
  height: 75%;
  margin-left: 2%;
  cursor: pointer;
}

/* Home image */
.home-img {
    background: url(../img/slider-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    margin-bottom: 5%;
  }
  .text-home-img1 h1 {
    font-size: clamp(1.875rem, 4vw, 3.75rem);
    font-weight: 400;
    padding-bottom: 1%;
  }
  .text-home-img1 {
    padding-top: 20%;
    font-family: var(--font-tittle-playfair);
    padding: 265px 0;
  }
  .text-home-img1 u {
    font-family: var(--font-title-products-worksans);
    font-size: clamp(1.023rem, 1vw, 1.875rem);
    font-weight: 800;
    cursor: pointer;
  }
/*Sale by JJulian*/
.sale-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2%;
  padding: 0% 10% 0% 10%;
}
.sale-container img {
  padding: 0px;
  width: 100%;
}
.banner {
  position: relative;
  cursor: pointer;
}
.banner-content {
  position: absolute;
  inset: 0;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
}
.banner h4 {
  font-family: var(--font-text-lora);
  color: var(--labels-color);
  font-size: clamp(2rem, 3vw, 2.375rem);
  font-weight: 100;
}
.banner h5 {
  font-family: var(--font-title-products-worksans);
  color: var(--typography-color);
  font-size: clamp(0.875rem, 1vw, 0.75rem);
  font-weight: bold;
}
/*Lastest products*/
.lastest-products,
.new-products,
.newsletter {
  background-image: url(../img/bg-1.jpg);
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
.lastest-products h1,
.new-products h1,
.newsletter h1,
.latest-news h1 {
  font-family: var(--font-tittle-playfair);
  font-size: clamp(1.875rem, 4vw, 2.375rem);
  font-weight: 100;
  padding-top: 7%;
  position: relative;
  margin-bottom: 2%;
  text-align: center;
}
.lastest-products p,
.new-products p {
  max-width: 765px;
  text-align: center;
  margin-bottom: 3%;
  font-size: clamp(0.875rem, 1.5vw, 1.25rem);
}
.lastest-products-cards,
.new-products-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
}
.lastest-products-cards img,
.card-new-product img {
  width: 100%;
  align-self: center;
  border: #ececec solid 1px;
}
.card-last-product,
.card-new-product {
  display: flex;
  flex-direction: column;
  width: 23%;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.latest-news .card-last-product img {
  border: none;
}
.card-last-product p,
.card-new-product p {
  text-align: start;
  color: var(--typography-color);
  font-family: var(--font-title-products-worksans);
  font-size: 18px;
  padding-top: 3%;
}
.card-last-product .price,
.card-new-product .price {
  font-size: 14px;
  font-weight: 700;
  padding: 0% 0% 3% 0%;
}
del {
  font-weight: 100;
}
.discount::before {
  content: attr(data-text);
  background: var(--labels-color);
  font-family: var(--font-text-lora);
  font-weight: 700;
  text-align: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 5%;
  left: 5%;
  color: white;
  line-height: 40px;
  font-size: 12px;
  z-index: 9999;
}
/*Customer*/
section .block,
.logos {
  padding: 5% 0% 5% 0%;
  text-align: center;
  color: #575757;
}
.block img {
  align-self: center;
  padding-bottom: 3%;
}
.block h4 {
  font-family: var(--font-text-lora);
  font-style: italic;
  font-weight: 300;
  padding-bottom: 2%;
  font-size: clamp(1.25rem, 3vw, 1.375rem);
}
.block h6 {
  color: var(--typography-color);
  font-family: var(--font-title-products-worksans);
  padding-bottom: 2%;
  font-size: clamp(0.75rem, 2vw, 0.8rem);
}
.block .customer {
  font-weight: 300;
}
/*New products*/
.new-products,
.latest-news {
  background: #f3f3f3;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 5%;
  text-align: center;
}
/*Newsletter*/
.newsletter {
  background-image: url(../img/bg-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding-top: 3%;
}
.email-suscribe {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
}
.newsletter h1 {
  font-size: clamp(1.5rem, 3vw, 3.75rem);
}
.newsletter input {
  background: transparent;
  border: 1px solid #cacaca;
  color: #868686;
  font-size: 13px;
  height: 60px;
  padding-left: 3%;
  width: 70%;
  font-family: var(--font-text-lora);
}
.newsletter button {
  color: white;
  background-color: black;
  width: 30%;
  font-size: clamp(0.625rem, 1vw, 0.75rem);
  font-family: var(--font-title-products-worksans);
  text-align: center;
  cursor: pointer;
}
/*Footer by JJulian*/
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5% 3% 3% 12%;
  justify-content: center;
  background: #f8f8f8;
}
.footer ul {
  list-style: none;
  padding: 0% 2% 0% 2%;
  width: 25%;
}
.footer .list-tittle {
  font-weight: 400;
  font-family: var(--font-tittle-playfair);
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);
}
.footer li {
  font-family: var(--font-text-lora);
  font-size: 14px;
  line-height: 2.5;
  cursor: pointer;
}
footer .last-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebebeb;
  width: 100%;
  font-size: 14px;
  font-family: var(--font-text-lora);
  padding: 18px 0 20px;
  padding-left: 7%;
}
.last-footer img {
  margin-left: 100px;
}
.heart {
  color: red;
}
.go-up {
  display: none;
}
/* Text size *//*
h1 {
    font-size: 46px;
    font-weight: 500;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
	font-family: 'Work Sans', sans-serif;
}

h5 {
    font-size: 18px;
	font-family: 'Work Sans', sans-serif;
}

h6 {
    font-size: 16px;
	font-family: 'Playfair Display', serif;
}
